@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Jasmine Spec Runner</title>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        @*<link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">*@
        <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">

        <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"> </script>
        <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"> </script>
    
        @*<script type="text/javascript" data-cover-flags="debug"  data-cover-only="scripts/" src="~/Scripts/blanket_jasmine.js"></script>*@

        <script type="text/javascript" src="~/Scripts/code.js"></script>
        <script type="text/javascript" src="~/Scripts/jasminetests.js"></script>

        <!-- include source files here... -->
        @*<script type="text/javascript" src="/Scripts/jasmine-samples/SpecHelper.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine-samples/PlayerSpec.js"></script>*@

        <!-- include spec files here... -->
        @*<script type="text/javascript" src="/Scripts/jasmine-samples/Player.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine-samples/Song.js"></script>*@

        <script type="text/javascript">
            (function() {
                var jasmineEnv = jasmine.getEnv();
                jasmineEnv.updateInterval = 1000;

                var htmlReporter = new jasmine.HtmlReporter();

                jasmineEnv.addReporter(htmlReporter);

                jasmineEnv.specFilter = function(spec) {
                    return htmlReporter.specFilter(spec);
                };

                var currentWindowOnload = window.onload;

                window.onload = function() {
                    if (currentWindowOnload) {
                        currentWindowOnload();
                    }
                    execJasmine();
                };

                function execJasmine() {
                    jasmineEnv.execute();
                }

            })();
        </script>

    </head>

    <body>
        
    </body>
</html>