﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app" flow-init>
<head>
    <title>basic</title>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ang/ng-flow-standalone.js"></script>
    <script src="~/Scripts/ang/app.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body flow-prevent-drop
      flow-drag-enter="style={border: '5px solid green'}"
      flow-drag-leave="style={}"
      ng-style="style">
    <div class="container">
        <h1>flow basic example</h1>
        <hr class="soften" />

        <div class="row">
            <div class="span6">
                <h2>Inputs:</h2>

                <input type="file" name="file" flow-btn />
                <input type="file" flow-btn flow-directory ng-show="$flow.supportDirectory" />
            </div>
            <div class="span6">
                <h2>Buttons:</h2>

                <span class="btn" flow-btn><i class="icon icon-file"></i>Upload File</span>
                <span class="btn" flow-btn flow-directory ng-show="$flow.supportDirectory">
                    <i class="icon icon-folder-open"></i>
                    Upload Folder
                </span>
            </div>
        </div>
        <hr class="soften">
        
        @*<div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (50 + '%') }">
                <span class=" sr-only">
                45% Complete</span>
            </div>
        </div>*@

        <h2>Transfers:</h2>
        
        <div class="btn-group">
            <a class="btn btn-small btn-success" ng-click="$flow.resume()">Upload</a>
            <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause</a>
            <a class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel</a>
        </div>
        
        <p>
            <span class="label label-info">Size: {{$flow.getSize()}}</span>
            <span class="label label-info">Is Uploading: {{$flow.isUploading()}}</span>
        </p>

        <table class="table table-hover table-bordered table-striped" flow-transfers>
            <thead>
                <tr>
                    <th style="width: 3%">#</th>
                    <th style="width: 10%">Name</th>
                    <th style="width: 10%">Size</th>
                    @*<th>Relative Path</th>
        <th>Unique Identifier</th>
        <th>#Chunks</th>*@
                    <th style="width: 47%">Progress</th>
                    @*<th>Paused</th>
        <th>Uploading</th>
        <th>Completed</th>*@
                    <th style="width: 15%">Settings</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in transfers">
                    <td>{{$index+1}}</td>
                    <td>{{file.name}}</td>
                    <td>{{file.size}}</td>
                    @*<td>{{file.relativePath}}</td>
                    <td>{{file.uniqueIdentifier}}</td>
                    <td>{{file.chunks.length}}</td>*@
                    @*<td>{{file.progress()}}</td>*@
                    <td>
                        <div class="progress progress-striped active">
                            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress()*100 + '%') }">
                                <span class="sr-only">45% Complete</span>
                            </div>
                        </div>
                    </td>
                    @*<td>{{file.paused}}</td>
                    <td>{{file.isUploading()}}</td>
                    <td>{{file.isComplete()}}</td>*@
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-mini btn-warning" ng-click="file.pause()" ng-hide="file.paused">
                                Pause
                            </a>
                            <a class="btn btn-mini btn-warning" ng-click="file.resume()" ng-show="file.paused">
                                Resume
                            </a>
                            <a class="btn btn-mini btn-danger" ng-click="file.cancel()">
                                Cancel
                            </a>
                            <a class="btn btn-mini btn-info" ng-click="file.retry()" ng-show="file.error">
                                Retry
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr class="soften" />

        <div class="alert" flow-drop flow-drag-enter="class='alert-success'" flow-drag-leave="class=''"
             ng-class="class">
            Drag And Drop your file here
        </div>
    </div>
</body>
</html>