﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>

        <script src="~/Content/lightbox/js/jquery-1.10.2.min.js"></script>
        <script src="~/Content/lightbox/js/lightbox-2.6.min.js"></script>
        <link href="~/Content/lightbox/css/lightbox.css" rel="stylesheet" />

    </head>
    <body>
        <div>
            <a href="/File/SimpleText" data-lightbox="image-1" title="My caption">image #1</a>
        </div>
    </body>
</html>