﻿@section scripts
{
    <script src="@Url.Content("~/Scripts/angular.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-route.js")"></script>
    <script src="@Url.Content("~/Scripts/myapp.js")"></script>
}

<h2>Angular</h2>

<div class="container" ng-app="myapp">
    
    <div ng-controller="FetchViewData">
        <div ng-controller="AnotherController">
            Basic calculation: {{2+3}}
            <ng-view></ng-view>
        </div>
    </div>
</div>
