﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HelloNancy.Objects.BlogPost>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hello NancyFx</h1>
        
        <table>
            <tr>
                <td>Id: </td>
                <td>@Model.ID</td>
            </tr>
            
            <tr>
                <td>Name:</td>
                <td>@Model.Name</td>
            </tr>
        </table>
    </div>
</body>
</html>
