﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HelloNancy.Views.Admin.Models.IndexModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Welcome to the admin page</h1>
        <table>
            <tr>
                <td>Creation date for WebApplicationService:</td>
                <td>@Model.CreationDate</td>
            </tr>
            <tr>
                <td>Total request on the service:</td>
                <td>@Model.TotalRequests</td>
            </tr>
        </table>
    </div>
</body>
</html>
