﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app.js")"></script>
}

<div ng-app="app">
    {{2 + 2}}
</div>

