﻿
@{
    ViewBag.Title = "InfiniteScroller";
}

<h2>InfiniteScroller</h2>

<div ng-app="app">
    <div ng-controller="MainCtrl">
        <input type="text" ng-model="searchText" ng-change="console.log('qwer');" id="special" />
        <h3>Search for: {{searchText}}</h3>
        <div id="fixeddd" when-scrolled="loadMore()" >
            <ul>
                <li ng-repeat="i in items | filter:searchText | limitTo:dataToDisplay">Item: {{i.id}}</li>
            </ul>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/jquery")
