﻿@theme-base-color:getThemeColor(@theme,theme-base-color);
@theme-base-secondary-color:getThemeColor(@theme,theme-base-secondary-color);

.textDiv {
    width: 100px;
    height: 100px;
    background-color: @theme-base-color;
    border-color: @theme-base-secondary-color;
}